@charset "UTF-8";

@font-face {
  font-family: "JetBrains-mono";
  src: url(../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(../fonts/Inter/static/Inter_18pt-Medium.ttf);
}

:root {
  --cor_principal: rgba(10, 18, 42, 1);
  --cor_background: rgba(231, 222, 205, 1);
  --font_principal: "Inter-Medium";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  background-color: rgba(10, 18, 42, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.pomodoro__name,
.pomodoro__abbr {
  color: #ffffff;
  font-family: "JetBrains-mono";
  margin: 0;
}
.pomodoro__abbr {
  font-weight: 300;
}

.main {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(231, 222, 205, 1);
  margin: 0;
  padding: 0;
}
.pomodoro__container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.title__page {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  align-items: start;
  width: 100%;
  height: 50px;
}

.title__page h1 {
  font-family: "JetBrains-mono";
  font-size: 20px;
}

#video iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  transform: translate(-50%);
  top: 40px;
}

.adicionar {
  padding: 8px;
  width: 200px;
  background-color: rgba(10, 18, 42, 1);
  color: white;
  font-family: "Inter-Medium";
  border-radius: 7px;
  border-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
}

#url__music,
#name__music {
  width: 370px;
  height: 38px;
  border-radius: 4px;
  border-color: transparent;
  margin-bottom: 6px;
}

#url__music,
#name__music::placeholder {
  font-family: "JetBrains-mono";
 
  font-weight: bold;
}

.musics {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  width: 290px;
  height: 300px;
  display: flex;
  border-radius: 10px;
}

.name__musics {
  font-family: "JetBrains-mono";
  width: 236px;
  height: 26px;
  background-color: rgba(217, 217, 217, 1);
  margin-top: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

.Btn__limpar {
  font-family: "JetBrains-mono";
  background-color: rgb(255, 0, 0);
  color: rgb(255, 254, 254);
  text-align: center;
  font-weight: normal;
  border-color: transparent;
  margin-top: 30px;
  width: 150px;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
}

.menu__inferior {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  gap: 25px;
  background-color: var(--cor_principal);
  height: 55px;
  width: 360px;
  border-radius: 12px;
  z-index: 10;
}

span {
  color: #ffffff;
  font-family: var(--font_principal);
}

a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

@media (min-width: 320px) {
  #name__music,
  #url__music {
    width: 290px;
  }

  .menu__inferior {
    width: 310px;
    margin-top: 50px;
  }

  iframe {
    margin-top: 50px;
    width: 338px;
  }

  .musics {
    margin-top: 60px;
    height: 290px;
    overflow-x: auto;
  }
}
