@charset "UTF-8";

@font-face {
  font-family: "JetBrains-mono";
  src: url(../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(../fonts/Inter/static/Inter_18pt-Medium.ttf);
}

:root {
  --cor_principal: rgba(10, 18, 42, 1);
  --cor_background: rgba(231, 222, 205, 1);
  --font_principal: "Inter-Medium";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  background-color: rgba(10, 18, 42, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100vw;
}

.pomodoro__name,
.pomodoro__abbr {
  color: #ffffff;
  font-family: "JetBrains-mono";
  margin: 0;
}
.pomodoro__abbr {
  font-weight: 300;
}

.main {
  height: 100vh;
  position: fixed;
  width: 100%;
 z-index: 1; 
  top: 0;
  left: 0;
  background-color: rgba(231, 222, 205, 1);
}
.pomodoro__container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.menu__inferior {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    gap: 25px;
    background-color: var(--cor_principal);
    height: 55px;
    width: 360px;
    border-radius: 12px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  span {
    color: #ffffff;
    font-family: var(--font_principal);
  }


  .set__choronometer{
    background-color: #ffffff;
    width: 332px;
    height: 256px;
    margin-top: 100px;
    border-radius: 8px;
  }



  .set__choronometer .mini__titles{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 115px;
  }

  .set__choronometer h4{
    font-family: "Inter-Medium";
    font-weight: bold;

  }

  .options {
    font-family: "Inter-Medium";
    font-weight: lighter;
  }

  .mini__titles{
    font-family: "Inter-Medium";
    font-weight: bold;
  }

  .set__choronometer #minute, #pause{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }


  .set__choronometer > .minutes_and_pause > input[type="checkbox"]{
    width: 15px;
    height: 15px;
  }

  #minutes {
    margin-right: 10px;
  }



  .minutes_and_pause{
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-family: "Inter-Medium";
  }

  .minutes_and_pause #minute{
    margin-left: 20px; 
  }

  .options{
    display: flex;
    flex-direction: column;
    
  }

  .set__task{
    background-color: #ffffff;
    margin-top: 20px;
    width: 325px;
    height: 210px;
  }


